{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Quiz</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Dashboard</a>
                <a class="breadcrumb-item" href="#">Quizlar</a>
                <span class="breadcrumb-item active">{{question.quiz.name}}</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="d-flex justify-content-around" >
                    <h2 class="font-weight-normal m-b-10">{{question.name}}</h2>
                    <a href="#"><button class="btn btn-primary btn-tone m-r-5">Yangilash</button></a>
                    <a href="{% url 'question_delete' question.code %}"><button class="btn btn-danger btn-tone m-r-5">Delete</button></a>
                </div>
                {% for option in options %}
                <div class="alert alert-{% if option.is_correct %}success{% else %}danger{% endif %}">
                    <p>{{option.name}}</p>
                </div>                  
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}