{% extends 'base.html' %}

{% load static %}
{% block content %}
<!-- Content Wrapper START -->
         <div class="main-content">
            <div class="page-header no-gutters">
                <div class="d-md-flex align-items-md-center justify-content-between">
                    <div class="media m-v-10 align-items-center">
                        <div class="avatar avatar-image avatar-lg">
                            <img src="{% static 'images/avatars/thumb-3.jpg' %}" alt="">
                        </div>
                        <div class="media-body m-l-15">
                            <h4 class="m-b-0">Welcome back, Nichols!</h4>
                            <span class="text-gray">Project Manager</span>
                        </div>
                    </div>
                    <div class="d-md-flex align-items-center d-none">
                        <div class="media align-items-center m-r-40 m-v-5">
                            <div class="font-size-27">
                                <i class="text-primary anticon anticon-profile"></i>
                            </div>
                            <div class="d-flex align-items-center m-l-10">
                                <h2 class="m-b-0 m-r-5">{{quizzes|length}}</h2>
                                <span class="text-gray">Quizzes</span>
                            </div>
                        </div>
                        <div class="media align-items-center m-r-40 m-v-5">
                            <div class="font-size-27">
                                <i class="text-success  anticon anticon-appstore"></i>
                            </div>
                            <div class="d-flex align-items-center m-l-10">
                                <h2 class="m-b-0 m-r-5">21</h2>
                                <span class="text-gray">Projects</span>
                            </div>
                        </div>
                        <div class="media align-items-center m-v-5">
                            <div class="font-size-27">
                                <i class="text-danger anticon anticon-team"></i>
                            </div>
                            <div class="d-flex align-items-center m-l-10">
                                <h2 class="m-b-0 m-r-5">39</h2>
                                <span class="text-gray">Members</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between m-b-15">
                            <h4 class="m-b-0">Quizlar ro`yhati</h4>
                            <div class="card-toolbar">
                                <ul>
                                    <li>
                                        <a class="text-gray" href="{% url 'quiz_create' %}">
                                            <button class="btn btn-primary btn-tone m-r-5">Add quiz</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-t-25">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Harakatlar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for q in quizzes %}
                                        <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <td><a href="{% url 'quiz_detail' q.code %}">{{q.name}}</a></td>
                                            <td>{{q.all}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Wrapper END -->
        
{% endblock %}